.redcore a:active,
.redcore a:focus
{
	outline-color: transparent !important;
	outline-width: 0px !important;
}

.redcore input[type=text]
{
	height: 20px !important;
}

.template_tags
{
	clear: both;
}

.template_tags ul
{
	list-style: none;
}

.template_tags ul li
{
	margin-bottom: 15px;
	color: #999;
	font-size: 12px;
}

.template_tags ul li .btn-tag em
{
	color: #f00;
	font-style: normal;
}

.template_tags a.accordion-toggle:hover
{
	text-decoration: none;
}

.category_gmap_field
{
	display: block;
	position: relative;
	margin: 20px 0px 0px 0px;
}

.category_gmap_field #category_gmap_field_canvas,
#item_gmap_field_canvas
{
	width: 100%;
	height: 300px;
}

.category_gmap_field #category_gmap_field_panel
{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -30%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 5px;
}

.category_gmap_field #category_gmap_field_address
{
	margin-bottom: 0px;
}

#jform_params_categoryLatLng
{
	margin-bottom: 0px;
}

.redcore label.radiobtn
{
	display: inline-block !important;
}

.redcore fieldset label
{
	float: none;
}

.featured
{
	color: #ffc40d;
}

.redcore .controls input.invalid
{
	border: 1px solid red;
}

.redcore .controls label.radio
{
	clear: none;
}

.redcore .icon-green
{
	color: green;
}

.redcore .icon-red
{
	color: darkred;
}

.reditem_customfield_itemfromtype select {
    width: 640px !important;
}

/**
 * Dashboard
 */
#reditem-cpanel {margin-top: 30px;}
.reditem-cpanel-icon-wrapper { background: #fff; border: 1px solid #fff; min-height: 120px; position: relative;}
.reditem-cpanel-icon {position: absolute;top: 50%;left: 50%; margin-right: -50%;transform: translate(-50%, -50%);}
.reditem-cpanel-icon i {margin: 0px;}
.reditem-cpanel-text {text-align: center; padding: 10px 5px; font-size: 14px; text-transform: uppercase;}
.reditem-cpanel-icon-link {color: #333 !important; display: block;}
.reditem-cpanel-icon-link:hover {text-decoration: none !important;}
.reditem-cpanel-icon-link:hover .reditem-cpanel-icon {color: #c33;}
.reditem-cpanel-icon-link:hover .reditem-cpanel-icon-wrapper {border: 1px solid #c33;}
.reditem-cpanel-icon-link:hover .reditem-cpanel-text {text-decoration: none !important; background-color: #c33;font-weight: bold; color: #fff;}
.reditem-cpanel-count {position: absolute; top: 25%; right: 20%; font-size: 14px !important; font-weight: bold !important;}
.reditem-cpanel-icon-link:hover .reditem-cpanel-count {background-color: #c33;}
#reditem-cpanel h4 {color: white;}
#reditem-cpanel a.accordion-toggle:hover, #reditem-cpanel a.accordion-toggle:visited {text-decoration: none;}
#reditem-cpanel .row-fluid {padding: 10px;}

/**
 * Sidebar
 */
.reditem-sidebar .accordion-group {
	background: #1b1b1b;
}
.reditem-sidebar .accordion-heading .accordion-toggle {
	color: #fefefe;
	font-weight: bold;
	text-decoration: none;
}
.reditem-sidebar .accordion-body ul.nav {
	margin: 0px;
	background: #fff;
}
.reditem-sidebar .accordion-body ul.nav > li:first-child a {
	border-radius: 0px !important;
}
.reditem-sidebar .accordion-body ul.nav .reditem-sidebar-item a {
	border-left: 0px;
	border-right: 0px;
	font-weight: normal !important;
}
.reditem-sidebar .accordion-body ul.nav .reditem-sidebar-item.active a,
.reditem-sidebar .accordion-body ul.nav .reditem-sidebar-item a:hover {
	color: #c33;
	cursor: hover;
	font-weight: bold !important;
}
/**
* Admin
*/
.reditem-admin .tab-pane .control-group
{
	padding: 10px 0px 10px 10px;
}
.reditem-admin .tab-pane .control-group:nth-child(2n)
{
	background-color: #FAFAFA;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
}

.reditem_customfield_range .slider.slider-horizontal { width: 350px; height: 50px; }

table#table-items tr.item-blocked td.item-title a, table#table-items tr.item-blocked td.item-title {color: #CC3333; font-style: italic;}
.text-danger {color: #cc3333;}

.navbar .brand .version {
	color: #fff; text-shadow: none; vertical-align: top; font-size: 16px; background: #c33; padding: 2px 5px; border-radius: 7px;
}

.reditem_customfield_daterange input[type="text"] { display: inline-block !important; }

/** Version feature modal */
#versionModal {
	min-width: 820px;
	min-height: 400px;
	margin-left: -430px;
}
#versionModal iframe {
	height: 310px;
}

/** copy override layouts modal */
#copyOverrideTemplate {
	min-width: 820px;
	min-height: 400px;
	margin-left: -430px;
}
#copyOverrideTemplate iframe {
	height: 310px;
}

.chzn-container-multi
{
	min-width: 220px;
}

.gmap_field
{
	display: block;
	position: relative;
	margin: 20px 0px 0px 0px;
	width: 500px;;
}
.gmap_field .gmap_field_canvas
{
	width: 100%;
	height: 350px;
}
.gmap_field .gmap_field_panel
{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -30%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 5px;
}

.reditem-cropper-modal
{
	width: 840px !important;
	margin-left: -420px !important;
}

.reditem-cropper-modal .modal-body
{
	max-height: 600px !important;
	width: 810px !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

.reditem-cropper-modal .modal-header
{
	cursor: move;
}

ul.thumbnails li.span3:nth-child(4n + 5)
{
	margin-left : 0px !important;
}

.gallery-dragndrop
{
	border         : 2px dotted #0B85A1;
	width          : 100%;
	color          : #92AAB0;
	text-align     : center;
	vertical-align : middle;
	padding        : 20px 0px;
	margin         : 10px 0 10px 0;
	font-size      : 200%;
	cursor         : pointer;
}

.reditem_customfield_gallery .tooltip-inner
{
	max-width: inherit !important;
}
