.gmap_active
{
	background: #E4180E;
	color: #FFFFFF;
	padding: 3px 5px;
	display: block !important;
	z-index: 999 !important;
	font-weight: bold !important;
	font-size: 120% !important;
}

.gmap_labels
{
	background: grey;
	color: #FFFFFF;
	padding: 3px 5px;
	display: hidden !important;
	font-weight: bold;
	font-weight: bold !important;
	font-size: 120% !important;
	z-index: 999 !important;
}

.gmap_hidden
{
	display: none !important;
}